{% extends "customer_iface/base.html" %}

{% block content %} 

<!-- ------------------------------------------------------------------------------------------------------ !-->

<center><label class="descriptor"><b>Current Occupancies</b></label></center><br />

{% if display.0 %}
<center><table border="2px" class="tasksDisp">

<tr>
<th>Customer</th>
<th>Room No.</th>
<th>Date</th>
<th>Start Time</th>
<th>End Time</th>
<th>Status</th>
<th>Manager</th>
</tr>

{% for man,cust,other in past %}

<tr>
<td>
<input type="submit" name={{cust.1}} value={{cust.0}} class="hyperlink" form="f0" />
</td>

{% for cell in other %}
<td>{{cell}}</td>
{% endfor %}

<form id="f0" method="POST" action="/users/profile" target="_blank">  <!--Pseudoform, open in new tab!-->
    {% csrf_token %}
    <input type="text" hidden="True" />
</form>

</tr>
{% endfor %}
</table></center>

{%else%}   <!--Nothing to display!-->
<center><label class="descriptor"><b>No Reservations to display</b></label></center>
<br /><br />
{%endif%}
    

<!-- ------------------------------------------------------------------------------------------------------ !-->

<center><label class="descriptor"><b>Upcoming Reservations</b></label></center><br />

{% if display.1 %}
<center><table border="2px" class="tasksDisp">

<tr>
<th>Customer</th>
<th>Room No.</th>
<th>Date</th>
<th>Start Time</th>
<th>End Time</th>
<th>Status</th>
<th>Manager</th>
</tr>

{% for man,cust,other in future %}

<tr>
<td>
<input type="submit" name={{cust.1}} value={{cust.0}} class="hyperlink" form="f0" />
</td>

{% for cell in other %}
<td>{{cell}}</td>
{% endfor %}

<form id="f0" method="POST" action="/users/profile" target="_blank">  <!--Pseudoform, open in new tab!-->
    {% csrf_token %}
    <input type="text" hidden="True" />
</form>

</tr>
{% endfor %}
</table></center>

{%else%}   <!--Nothing to display!-->
<center><label class="descriptor"><b>No Reservations to display</b></label></center>
<br /><br />
{%endif%}
    

<!-- ------------------------------------------------------------------------------------------------------ !-->

<center><label class="descriptor"><b>Past Reservations</b></label></center><br />

{% if display.2 %}
<center><table border="2px" class="tasksDisp">

<tr>
<th>Customer</th>
<th>Room No.</th>
<th>Date</th>
<th>Start Time</th>
<th>End Time</th>
<th>Status</th>
<th>Manager</th>
</tr>

{% for man,cust,other in past %}

<tr>
<td>
<input type="submit" name={{cust.1}} value={{cust.0}} class="hyperlink" form="f0" />
</td>

{% for cell in other %}
<td>{{cell}}</td>
{% endfor %}

<form id="f0" method="POST" action="/users/profile" target="_blank">  <!--Pseudoform, open in new tab!-->
    {% csrf_token %}
    <input type="text" hidden="True" />
</form>
    
<td>
<input type="submit" name={{man.1}} value={{man.0}} class="hyperlink" form="f0" />
</td>

</tr>
{% endfor %}
</table></center>

{%else%}   <!--Nothing to display!-->
<center><label class="descriptor"><b>No Reservations to display</b></label></center>
<br /><br />
{%endif%}

<!-- ------------------------------------------------------------------------------------------------------ !-->

<center><label class="descriptor"><b>Cancelled Reservations</b></label></center><br />

{% if display.3 %}
<center><table border="2px" class="tasksDisp">

<tr>
<th>Customer</th>
<th>Room No.</th>
<th>Date</th>
<th>Start Time</th>
<th>End Time</th>
<th>Status</th>
<th>Manager</th>
</tr>

{% for man,cust,other in cancel %}

<tr>
<td>
<input type="submit" name={{cust.1}} value={{cust.0}} class="hyperlink" form="f0" />
</td>

{% for cell in other %}
<td>{{cell}}</td>
{% endfor %}

<form id="f0" method="POST" action="/users/profile" target="_blank">  <!--Pseudoform, open in new tab!-->
    {% csrf_token %}
    <input type="text" hidden="True" />
</form>
    
<td>
<input type="submit" name={{man.1}} value={{man.0}} class="hyperlink" form="f0" />
</td>

</tr>
{% endfor %}
</table></center>

{%else%}   <!--Nothing to display!-->
<center><label class="descriptor"><b>No Reservations to display</b></label></center>
<br /><br />
{%endif%}

{% endblock %}




